<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Detalles del docente</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2" >ID</dt>
            <dd class = "col-sm-10" th:text="${docente.id}"></dd>

            <dt class = "col-sm-2">Nombre</dt>
            <dd class = "col-sm-10" th:text="${docente.nombre}"></dd>

            <dt class = "col-sm-2">Apellido</dt>
            <dd class = "col-sm-10" th:text="${docente.apellido}"></dd>

            <dt class = "col-sm-2">Email</dt>
            <dd class = "col-sm-10" th:text="${docente.email}"></dd>

            <dt class = "col-sm-2">Teléfono</dt>
            <dd class = "col-sm-10" th:text="${docente.telefono}"></dd>

            <dt class = "col-sm-2">Escuela</dt>
            <dd class = "col-sm-10" th:text="${docente.escuela}"></dd>
        </dl>

        <a th:href="@{/docentes/edit/{id} (id = ${docente.id}) }" class="btn btn-outline-info">Editar</a> |
        <a th:href="@{/docentes}">Regresar</a>
    </div>
</div>