<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Crear nueva asignación Docente-Grupo</h1>
    <form th:action="@{/asignaciones/save}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="docente">Docente:</label>
                    <select id="docente" name="docenteId" class="form-control" required>
                        <option th:each="docente : ${docentes}" th:value="${docente.id}" th:text="|${docente.nombre} ${docente.apellido}|"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="grupo">Grupo:</label>
                    <select id="grupo" name="grupoId" class="form-control" required>
                        <option th:each="grupo : ${grupos}" th:value="${grupo.id}" th:text="${grupo.nombre}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="anio">Año</label>
                    <input type="text" class="form-control" id="anio" name="anio" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ciclo">Ciclo</label>
                    <input type="text" class="form-control" id="ciclo" name="ciclo" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button> |
                    <a href="/asignaciones">Regresar</a>
                </div>
            </div>
        </div>
    </form>
</div>